*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.btn{
    background-color: #469165;
    border: none;
    border-radius: 5px;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.btn img{
    align-items: center;
}
.headernav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 100px;
}
.navp{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    right: 0px;
    left: 0px;
}
.img-text {
    position: absolute;
    top: 200px;
    right: 0px;
    left: 0px;
}
.img-text{
    align-items: center;
    text-align: center;
}
.img-text h1 {
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    margin-bottom: 16px;
}
.img-text p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 32px;
}

.bn{
    background-color: white;
    border: none;
    border-radius: 1000px;
    padding: 8px 12px;
    font-size: 16px;
    font-weight: semi-bold;
    color: #469165;
    cursor: pointer;
    margin-bottom: 16px;
}
#bbtn{
    border: 1px solid white;
    background-color: transparent;
    border-radius: 5px;
    padding: 16px 16px;
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;
}
.img-text p{
    font-size: 18px;
    color: #FFFFFF;
    line-height: 24px;
    margin-bottom: 25px;
}

.motive{
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

.motive h1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
    color: #001931;
}
.motive p {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 44px;
    color: #627382;
}

.line{
    display: flex;
    justify-content: space-around;
    gap: 24px;
    padding: 0px 100px;
}
.card{
    box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.091);
    max-width: 322px;
    max-height: 300px;
    border-radius: 10px;
    padding: 70px 24px;
    background-color:#FFFFFF;
    text-align: center;   
}
.card img{
    border-radius: 50%;
    background-color: #f95555;
    width :60px;
    height:60px;
    margin-bottom: 16px;
}
.card h2{
    font-size: 24px;
    font-weight: 700;
    color: #001931;
}
.card p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-top: 16px;
}

.about{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    padding: 120px;
}
.list{
    text-align: left;
}
.list h1{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #001931;
}
.list p{
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 40px;
    color: #627382;
}
.list ul{
    list-style: url(assets/CheckCircle.png);
    padding-left: 20px;
    font-size: 16px;
    line-height: 20px;
    color: #001931;   
}
#ap{
    color: #469165;
    line-height: 20px;
    font-size: 16px;
}

.challange{
    background-color: #F7F6F2;
    padding: 0px 100px;
    margin-left:120px;
    margin-right: 120px;
    margin-bottom: 120px;
}
.challangetext{
    text-align: center;
    padding: 80px 40px;
}
.challangetext h1{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 16px;
    color: #001931;
}
.challangetext p{
    font-size: 16px;
    line-height: 24px;
    color: #627382;
    margin-bottom: 24px;
}
.challangetext #ch2{
    color: #627382;
    margin-top: 16px;
}

.footer{
    background-color: #001931;
    padding: 40px 80px;
}

.footerlinks{
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footerlinks img{
    width: 200px;
    height: auto;
}
.social p{
    color: #FFFFFF;
    font-size: 20px;
    line-height: 28px;
}
.social-icons{
    display: flex;
    width: 20px;
    height: 20px;
    background-color: #FFFFFF;
    gap: 16px;
}

#hrbottom{
    margin-top: 80px;
    border: 0.5px solid #E5E7EB;
}

.footer p{
    color: #FFFFFF;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}