*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.btn{
    background-color: #469165;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.headernav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 100px;
}
.navp{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    right: 0px;
    left: 0px;
}
.img-text {
    position: absolute;
    top: 200px;
    right: 0px;
    left: 0px;
}
.img-text{
    align-items: center;
    text-align: center;
}
.img-text h1 {
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    margin-bottom: 16px;
}
.img-text p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 32px;
}

.bn{
    background-color: white;
    border: none;
    border-radius: 1000px;
    padding: 8px 12px;
    font-size: 16px;
    font-weight: semi-bold;
    color: #469165;
    cursor: pointer;
    margin-bottom: 16px;
}
#bbtn{
    border: 1px solid white;
    background-color: transparent;
    border-radius: 5px;
    padding: 16px 16px;
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;
}
.img-text p{
    font-size: 18px;
    color: #FFFFFF;
    line-height: 24px;
    margin-bottom: 25px;
}

.motive{
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

.motive h1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
    color: #001931;
}
.motive p {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 44px;
    color: #627382;
}

.line{
    display: flex;
    justify-content: space-around;
    gap: 24px;
    padding: 0px 100px;
}
.card{
    box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.091);
    max-width: 322px;
    max-height: 300px;
    border-radius: 10px;
    padding: 70px 24px;
    background-color:#FFFFFF;
    text-align: center;   
}
.card img{
    border-radius: 50%;
    background-color: #f95555;
    width :60px;
    height:60px;
    margin-bottom: 16px;
}
.card h2{
    font-size: 24px;
    font-weight: 700;
    color: #001931;
}
.card p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-top: 16px;
}